<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/src/assets/mytopnav.css">
    <link rel="stylesheet" href="/src/assets/myabout.css">
</head>
<body>
<div class="topnav">
    <a href="/">Members</a>
    <a href="/projects">Projects</a>
    <a href="/skills">Skills</a>
    <a href="/about">About</a>
</div>

<div class="about-section">
    <h1>About itbay</h1>
    <p>This project created with educational purpose with: Golang, SQLite, HTML, CSS, and deployed to Heroku.</p>
    <p>GitHub page of the project -> <a class="a" href="https://github.com/art07/itbay"><b>itbay</b></a></p>
</div>
</body>
</html>