<!DOCTYPE html>
<!--https://2016.8-p.info/post/06-18-go-html-template/-->
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skill</title>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/src/assets/mystyle.css">
    <link rel="stylesheet" href="/src/assets/mytopnav.css">
</head>
<body>

<div class="topnav">
    <a href="/">Members</a>
    <a href="/projects">Projects</a>
    <a href="/skills">Skills</a>
    <a href="/about">About</a>
</div>

{{if ne .Skill "HTML/CSS/JS"}}
<h1 class="main_text">Skill> {{.Skill}}</h1>
{{else}}
<h1 class="main_text">Skill> HTML/CSS/<a href="/snake">JS</a></h1>
{{end}}

<table class="item_table">
    <tr>
        <th>Id:</th>
        <td>{{.Id}}</td>
    </tr>
    <tr>
        <th>Skill:</th>
        <td>{{.Skill}}</td>
    </tr>
    <tr>
        <th>Members:</th>
        <td>
            <table class="item_table">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>

                {{range .Members}}
                <tr>
                    <td>
                        <form action="/member" method="POST">
                            <button class="link_button" type="submit" name="member_id" value="{{.Id}}">{{.UserName}}
                            </button>
                        </form>
                    </td>
                    <td>{{.Email}}</td>
                </tr>
                {{end}}
            </table>
        </td>
    </tr>
</table>

</body>
</html>