.link_button {
    width: 135px;
    background-color: white;
    color: black;
    border: 2px solid cornflowerblue;
}

.link_button:hover {
    background-color: cornflowerblue;
    color: white;
}

.h1_left {
    text-align: left;
    margin-left: 50px;
}

.main_table {
    border: 1px solid black;
    width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.item_table {
    border: 1px solid black;
    width: 30%;
    text-align: left;
    margin-left: 50px;
    margin-right: auto;
}

h1 {
    text-align: center;
}

h3 {
    padding: 5px 5px 5px 20px;
}

div {
    padding: 5px 5px 5px 20px;
}

th { /*Ячейки первого ряда.*/
    background: bisque;
    border: 1px solid black;
}

td { /*Ячейки второго и последующих рядов.*/
    border: 1px solid black;
}